
html {
  font-size: 14px;
}

body {
  font-family: var(--font-family);
  font-weight: normal;
  background: var(--surface-ground);
  color: var(--text-color);
  padding: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.custom-button-style {
  border: 2px solid #ced4da;
  color: #495057;
  border-radius: 5px;

}

.custom-button-style:focus {
  outline: none; 
  outline : 0 ;
  outline-style: none;
}

.custom-button-style.selected {
  background-color: transparent;
  border-color: red;
  color: red;
}



:host ::ng-deep .p-inputtext:hover {
  border-color: red;
}


:host ::ng-deep .p-inputtext:focus {
  box-shadow: 0 0 5px red;
  outline: none; 
  border-color: red;
}


:host ::ng-deep .p-radiobutton
.p-radiobutton-box.p-highlight,
:host ::ng-deep .p-radiobutton
.p-radiobutton-box.p-highlight:hover {

  background-color: white;
  border-color: red;
  box-shadow: none;
}

:host ::ng-deep .p-radiobutton:hover .p-radiobutton-box {
  border-color: red;
}

:host ::ng-deep .p-radiobutton-icon {
  background-color: red !important;
}


:host ::ng-deep .p-inputtext:-webkit-autofill,
:host ::ng-deep .p-inputtext:-webkit-autofill:focus {
  border-color: red !important;
  color:white;
}

 
:host ::ng-deep .p-togglebutton.p-togglebutton-checked .p-button {
  background-color: red !important;
  color: white !important;
}
 
:host ::ng-deep .custom-style .p-button-label {
  color: red !important;
}
 
:host ::ng-deep .custom-style .p-togglebutton {
  background-color: transparent !important;
  border-color: red !important;
  color: red !important;  
}

:host ::ng-deep .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider:after {
  content: "Oui" !important;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 10px !important;
  font-weight: bold;
  margin: 0px 8px !important;
  color: red !important;
  animation: barshine 0.5s 0.1s forwards;

}

:host ::ng-deep .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
  background-color: transparent!important;
  box-shadow: 0 0 5px red;
  outline: none; 
  width: 60px; 
}


:host ::ng-deep .p-inputswitch .p-inputswitch-slider:after {
  content: "Non" !important;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 10px !important;
  font-weight: bold;
  margin: 0px 8px !important;
  color: white !important;
}


:host ::ng-deep .p-inputswitch .p-inputswitch-slider {
  box-shadow: 0 0 5px gray;
  outline: none; 
  width: 60px; 
}



.circle-container {
  position: relative;
}

.circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid #afafaf;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
  color: #afafaf;
}

.increment-button {
  width: 35px;
  height: 35px;
  transform: translate(-40%, -50%);
  border: none;
  border-radius: 50%;
  background-color: #afafaf;
  color: #fff;
  font-size: 20px;
  font-weight: bold;

}

.increment-button:hover {
  background-color: #e60000 ; 
}

