<!--div class="background">
    <br><br>
    <br><br>
    <br><br>
    <p-card>
        <div class="card">
            <p-toast></p-toast>
            <p-steps [model]="items" [readonly]="false" [activeIndex]="activeIndex"
                (activeIndexChange)="onActiveIndexChange($event)"></p-steps>
        </div>
    </p-card>
    <br><br>
    <p-fieldset>
        <ng-template pTemplate="header">
            <div class="flex align-items-center text-primary">
                <span class="pi pi-money-bill mr-2" style="color: #DC0029;"></span>
                <label>Paiement</label>
            </div>
        </ng-template>
        <div class="col-12">
            <div class="p-fluid p-formgrid grid">
                <div class="card">

                   

                </div>
            </div>
        </div>

    </p-fieldset>
    <br><br>
    <p-card>
        <div class="col-12">
            <div class="p-fluid p-formgrid grid">
                <div class="field col-12 md:col-2">
                </div>
                <div class="field col-12 md:col-6">
                </div>
                <div class="field col-12 md:col-2">
                    <p-button icon="pi pi-chevron-left" label="Retour" severity="secondary"></p-button>
                </div>
                <div class="field col-12 md:col-2">
                    <p-button label="Suivant" [loading]="loading" (onClick)="load()" severity="danger"></p-button>
                </div>
            </div>
        </div>
    </p-card>
    <br><br>
</div-->
<div class="card">

    <button type="button" pButton pRipple label="Block" (click)="blockedPanel=true" hidden></button>
    <button type="button" pButton pRipple label="Unblock" (click)="blockedPanel=false" hidden></button>
    <p-blockUI [target]="pnl" [blocked]="blockedPanel">
        <i class="pi pi-lock" style="font-size: 3rem"></i>
    </p-blockUI>
    <p-panel #pnl  header="Nous vous souhaitons la bienvenue aux mutuelles du pays-haut" styleClass="mt-4">
      
    </p-panel>
</div>
